.nav_container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #efefef;
}
.nav_logo img{
    width: 47px;
    border-radius: 50%;
}
.nav_logo{
    display: flex;
}
.nav_links span{
    line-height: 43px;
    background: white;
    color: #f08209;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 5px;
    border-radius: 4px;
}
span{
    color: white;
}
.search{
    text-align: center;
    padding: 6px 14px;
    background-color: #f3f3f3;
    border-radius: 22px;
    margin: 0 10px;
    width: fit-content;
}
.search input{
    border: none;
    margin: 0 5px;
    background-color: inherit;
    outline: none;
    width: 80%;
}
.searchResult{
    position: absolute;
    top: 64px;
    left: 10%;
    /* width: 70%; */
    z-index: 100;
    background-color: #e5e5e5;
    padding: 11px;
}
.searchResult ul{
    list-style: none;
    padding: 0;
}
.searchResult a{
    text-decoration: none;
    color: inherit;
}
.error{
    margin: 0 40px;
    font-size: 12px;
    color: #ff0000de;
}
@media only screen and (max-width:600px){
    .nav_container{
        
        display: flex;
        justify-content: space-between;
        padding: 5px 12px;
    }
    .nav_logo img{
        width: 37px;
        border-radius: 50%;
    }
    .nav_links > span > span{
        display: none;
    }
}